/* line 1, ../sass/admin/tiny_paper.sass */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 7, ../sass/admin/tiny_paper.sass */
.clearfix {
  display: inline-block;
}

/* line 9, ../sass/admin/tiny_paper.sass */
.clearfix {
  display: block;
}

/* line 12, ../sass/admin/tiny_paper.sass */
#tiny_paper {
  margin: -10px -7px 0 -7px;
}
/* line 15, ../sass/admin/tiny_paper.sass */
#tiny_paper #top {
  background-color: #cccccc;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border: 1px solid #0066cc;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
}
/* line 25, ../sass/admin/tiny_paper.sass */
#tiny_paper #top.pages_list p {
  padding: 0 0 7px 0;
}
/* line 27, ../sass/admin/tiny_paper.sass */
#tiny_paper #top .left {
  float: left;
  width: 30%;
}
/* line 30, ../sass/admin/tiny_paper.sass */
#tiny_paper #top .right {
  float: right;
  width: 68%;
}
/* line 33, ../sass/admin/tiny_paper.sass */
#tiny_paper #top p {
  margin: 0;
  padding: 0;
}
/* line 36, ../sass/admin/tiny_paper.sass */
#tiny_paper #top ul {
  margin: 0 0 10px 0;
  padding: 0;
}
/* line 39, ../sass/admin/tiny_paper.sass */
#tiny_paper #top ul li {
  list-style: none;
  float: left;
  margin-right: 10px;
}
/* line 43, ../sass/admin/tiny_paper.sass */
#tiny_paper #top ul li a {
  text-decoration: none;
  width: 70px;
  height: 25px;
  display: block;
  outline: none;
  font-size: 18px;
  text-align: center;
  padding-top: 3px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border: 1px solid #0066cc;
}
/* line 55, ../sass/admin/tiny_paper.sass */
#tiny_paper #top ul li a.selected {
  background: white;
}
/* line 57, ../sass/admin/tiny_paper.sass */
#tiny_paper #top ul li a:hover {
  background: white;
  color: black;
}
/* line 61, ../sass/admin/tiny_paper.sass */
#tiny_paper #filter {
  background-color: white;
  border: 2px inset threedface;
  width: 147px;
}
/* line 65, ../sass/admin/tiny_paper.sass */
#tiny_paper #filter input {
  border: none;
}
/* line 68, ../sass/admin/tiny_paper.sass */
#tiny_paper #reset {
  background: transparent url("/images/admin/tab_close.png") no-repeat right top;
  padding: 0 7px;
  outline: none;
  text-decoration: none;
}
/* line 74, ../sass/admin/tiny_paper.sass */
#tiny_paper #filter_form {
  margin: 0;
}
/* line 76, ../sass/admin/tiny_paper.sass */
#tiny_paper #filter_form label {
  font-size: 11px;
  font-weight: normal;
  color: #21759b;
}
/* line 82, ../sass/admin/tiny_paper.sass */
#tiny_paper #upload table.form {
  float: right;
}
/* line 84, ../sass/admin/tiny_paper.sass */
#tiny_paper #upload table.form th, #tiny_paper #upload table.form td {
  padding: 3px 0;
  vertical-align: middle;
}
/* line 87, ../sass/admin/tiny_paper.sass */
#tiny_paper #upload table.form th {
  text-align: right;
  color: #21759b;
  padding-right: 5px;
}
/* line 91, ../sass/admin/tiny_paper.sass */
#tiny_paper #upload input[type=text], #tiny_paper #upload input[type="file"] {
  width: 205px;
  border: 2px inset threedface;
}
/* line 95, ../sass/admin/tiny_paper.sass */
#tiny_paper #pagination {
  width: 45%;
  float: left;
}
/* line 98, ../sass/admin/tiny_paper.sass */
#tiny_paper #pagination .pagination {
  padding: 3px;
  text-align: center;
  float: left;
}
/* line 102, ../sass/admin/tiny_paper.sass */
#tiny_paper #pagination .pagination a {
  padding: 0.2em 0.3em;
}
/* line 104, ../sass/admin/tiny_paper.sass */
#tiny_paper #pagination .pagination span {
  padding: 0.2em 0.3em;
}
/* line 106, ../sass/admin/tiny_paper.sass */
#tiny_paper #pagination .pagination span.disabled {
  color: #aaaaaa;
}
/* line 108, ../sass/admin/tiny_paper.sass */
#tiny_paper #pagination .pagination span.current {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  font-weight: bold;
  background-color: #999999;
  display: inline-block;
  padding: 3px 8px;
}
/* line 116, ../sass/admin/tiny_paper.sass */
#tiny_paper #pagination .pagination a:link, #tiny_paper #pagination .pagination a:visited, #tiny_paper #pagination .pagination a:hover, #tiny_paper #pagination .pagination a:focus {
  color: #21759b;
  text-decoration: none;
}
/* line 119, ../sass/admin/tiny_paper.sass */
#tiny_paper #pagination .pagination a:hover, #tiny_paper #pagination .pagination a:focus {
  text-decoration: underline;
}
/* line 122, ../sass/admin/tiny_paper.sass */
#tiny_paper #middle {
  margin-bottom: 10px;
  padding: 0 20px;
}
/* line 125, ../sass/admin/tiny_paper.sass */
#tiny_paper #middle #ddl {
  width: 54%;
  float: right;
  margin-top: 3px;
}
/* line 129, ../sass/admin/tiny_paper.sass */
#tiny_paper #middle #ddl div {
  float: right;
  margin-right: 5px;
}
/* line 133, ../sass/admin/tiny_paper.sass */
#tiny_paper ul.asset_images {
  padding-left: 40px;
}
/* line 135, ../sass/admin/tiny_paper.sass */
#tiny_paper ul.asset_images li {
  list-style: none;
  float: left;
  margin: 0 10px 10px 0;
  border: 1px solid black;
  padding: 5px 5px 0 5px;
  display: block;
}
/* line 142, ../sass/admin/tiny_paper.sass */
#tiny_paper ul.asset_images li:hover {
  border: 1px solid #2b6fb6;
}
/* line 144, ../sass/admin/tiny_paper.sass */
#tiny_paper ul.asset_images li .asset_image {
  width: 100px;
  height: 100px;
  display: block;
}
/* line 148, ../sass/admin/tiny_paper.sass */
#tiny_paper ul.asset_images li .asset_title {
  text-align: center;
  display: block;
}
/* line 151, ../sass/admin/tiny_paper.sass */
#tiny_paper ul.asset_images li.no_results {
  font-size: 13px;
  padding: 20px 0 0 100px;
  border: none;
}
/* line 155, ../sass/admin/tiny_paper.sass */
#tiny_paper ul.asset_images a {
  text-decoration: none;
  text-align: center;
}
/* line 158, ../sass/admin/tiny_paper.sass */
#tiny_paper ul.asset_images a span.asset_title:hover {
  text-decoration: underline;
  color: #2b6fb6;
}
/* line 162, ../sass/admin/tiny_paper.sass */
#tiny_paper span.image_sizes {
  background-color: white;
  position: absolute;
  left: 140px;
  top: 33%;
  display: block;
  border: 1px solid black;
  padding: 10px;
  width: 380px;
  min-height: 150px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
/* line 174, ../sass/admin/tiny_paper.sass */
#tiny_paper span.image_sizes h4, #tiny_paper span.image_sizes p {
  text-align: center;
}
/* line 176, ../sass/admin/tiny_paper.sass */
#tiny_paper span.image_sizes a.cancel_image_sizes {
  background: transparent url("/images/admin/tab_close.png") no-repeat left top;
  text-indent: -9999px;
  display: block;
  width: 16px;
  height: 16px;
  float: right;
}
/* line 184, ../sass/admin/tiny_paper.sass */
#tiny_paper #sizes {
  width: 90%;
}
/* line 186, ../sass/admin/tiny_paper.sass */
#tiny_paper #sizes tr:hover {
  color: #2b6fb6;
}
/* line 188, ../sass/admin/tiny_paper.sass */
#tiny_paper #sizes th {
  font-size: 11px;
  text-align: right;
  padding: 2px 5px 2px 0;
  width: 50%;
}
/* line 193, ../sass/admin/tiny_paper.sass */
#tiny_paper #sizes td {
  padding: 2px 5px;
  width: 50%;
  border-left: none;
}
/* line 198, ../sass/admin/tiny_paper.sass */
#tiny_paper .asset_images li:hover a span.asset_title, #tiny_paper #sizes a:hover {
  text-decoration: underline;
  color: #2b6fb6;
}
/* line 202, ../sass/admin/tiny_paper.sass */
#tiny_paper table.assets_list {
  width: 90%;
  margin: 0 5%;
}
/* line 205, ../sass/admin/tiny_paper.sass */
#tiny_paper table.assets_list th {
  font-size: 14px;
  text-align: left;
  padding: 0 10px;
}
/* line 209, ../sass/admin/tiny_paper.sass */
#tiny_paper table.assets_list td {
  padding: 0 10px;
  border-left: 1px solid #2b6fb6;
}
/* line 212, ../sass/admin/tiny_paper.sass */
#tiny_paper table.assets_list td.index {
  text-align: right;
  border-left: none;
  width: 25px;
}
/* line 216, ../sass/admin/tiny_paper.sass */
#tiny_paper table.assets_list td.no_results {
  text-align: center;
  border-left: none;
  padding-top: 20px;
  font-size: 13px;
}
/* line 221, ../sass/admin/tiny_paper.sass */
#tiny_paper table.assets_list a {
  text-decoration: none;
  text-align: center;
}
/* line 226, ../sass/admin/tiny_paper.sass */
#tiny_paper a.sort_asc {
  background: transparent url("/images/admin/asc.gif") no-repeat right center;
  padding-right: 17px;
}
/* line 229, ../sass/admin/tiny_paper.sass */
#tiny_paper a.sort_desc {
  background: transparent url("/images/admin/desc.gif") no-repeat right center;
  padding-right: 17px;
}
/* line 233, ../sass/admin/tiny_paper.sass */
#tiny_paper #content_files a {
  text-decoration: none;
  font-size: 13px;
}
/* line 236, ../sass/admin/tiny_paper.sass */
#tiny_paper #content_files ul {
  margin: 0;
  padding: 0 0 0 30px;
}
/* line 239, ../sass/admin/tiny_paper.sass */
#tiny_paper #content_files ul li {
  margin: 10px 0;
  border-bottom: 1px solid #999999;
}
/* line 242, ../sass/admin/tiny_paper.sass */
#tiny_paper #content_files ul li.no_bullet {
  list-style: none;
  border-bottom: none;
}
/* line 246, ../sass/admin/tiny_paper.sass */
#tiny_paper .flash {
  padding: 5px 0 5px 25px;
  margin: 0 100px 10px 100px;
  font: #003300;
  border: 2px solid #cccccc;
}
/* line 251, ../sass/admin/tiny_paper.sass */
#tiny_paper .success {
  background: white url("/images/admin/accept.png") no-repeat 5px 50%;
}
/* line 253, ../sass/admin/tiny_paper.sass */
#tiny_paper .error {
  background: white url("/images/admin/exclamation.png") no-repeat 5px 50%;
}
