[submodule "vendor/extensions/sites"]
	path = vendor/extensions/sites
	url = git://github.com/spanner/radiant-sites-extension.git
[submodule "vendor/extensions/paperclipped"]
	path = vendor/extensions/paperclipped
	url = git://github.com/spanner/paperclipped.git
[submodule "vendor/extensions/drag_order"]
	path = vendor/extensions/drag_order
	url = git://github.com/bright4/radiant-drag-order.git
[submodule "vendor/extensions/sitemap_xml"]
	path = vendor/extensions/sitemap_xml
	url = git://github.com/Aissac/radiant-sitemap-xml-extension.git
[submodule "vendor/extensions/submenu"]
	path = vendor/extensions/submenu
	url = git://github.com/spanner/radiant-submenu-extension.git
[submodule "vendor/extensions/made_easy"]
	path = vendor/extensions/made_easy
	url = git://github.com/spanner/radiant-made_easy-extension.git
[submodule "vendor/extensions/sns"]
	path = vendor/extensions/sns
	url = git://github.com/SwankInnovations/radiant-sns-extension.git
[submodule "vendor/extensions/sns_sass_filter"]
	path = vendor/extensions/sns_sass_filter
	url = git://github.com/SwankInnovations/radiant-sns-sass-filter-extension.git
[submodule "vendor/extensions/sns_multisite"]
	path = vendor/extensions/sns_multisite
	url = git://github.com/spanner/radiant-sns-multisite-extension.git
