[submodule "vendor/extensions/sites"]
	path = vendor/extensions/sites
	url = git://github.com/spanner/radiant-sites-extension.git
[submodule "vendor/extensions/paperclipped"]
	path = vendor/extensions/paperclipped
	url = git://github.com/spanner/paperclipped.git
[submodule "vendor/extensions/sitemap_xml"]
	path = vendor/extensions/sitemap_xml
	url = git://github.com/Aissac/radiant-sitemap-xml-extension.git
[submodule "vendor/extensions/paperclipped_uploader"]
	path = vendor/extensions/paperclipped_uploader
	url = git://github.com/spanner/radiant-paperclipped_uploader-extension.git
[submodule "vendor/extensions/tiny_paper"]
	path = vendor/extensions/tiny_paper
	url = git://github.com/spanner/radiant-tiny-paper-extension.git
[submodule "vendor/extensions/mailer"]
	path = vendor/extensions/mailer
	url = git://github.com/spanner/radiant-mailer-extension.git
